<!DOCTYPE html>
<!-- 
  Author: William Wyatt
  License: GNU3
  Purpose: WebUI to annodate. 
-->
<html>

<head>
  <title>{{title}}</title>
  {% include "header.html" %}
  <link href="/static/css/bulma-calendar.css" rel="stylesheet" />
  <script src="/static/js/bulma-calendar.js"></script>
</head>

<body>
  <form id="myForm" method="POST" action="/calendar">
    <input type="text" hidden value="{{index}}" name="index" />
    <input id="next_index" type="text" hidden value="{{index+1}}" name="next_index" />
    <input type="text" hidden value="{{start_time}}" name="start_time" />
    <input type="text" hidden value="{{key}}" name="key" />
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="content">
      <!-- TITLE SECTION -->
      <section class="hero is-info">
        <div class="hero-body">
          <p class="title">
            {% if calendar_enabled %}
            Please allocate 50 tokens ({{label}})
            {% else %}
            Please read the instructions carefully.
            {% endif %}
          </p>
          {% if calendar_enabled %}
          <span class="subtitle">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <div><span>You are given 50 tokens worth between $0.10 and $0.20.</span><br>
                    <span>You must distribute these tokens on either {{early_label}} for less value or {{late_label}}
                      for
                      more value.</span><br>
                    <span>Please distribute the tokens in the way you most prefer below.</span>
                  </div>

                </div>
              </div>
              <div class="level-right">
                <span>{{progress['percentage']}} completed.</span>
              </div>
            </div>
          </span>
          {% endif %}
        </div>
      </section>
  <!-- FIRST WARNING-->    
  {% if not calendar_enabled %}
  <div class="notification is-danger has-text-centered">
    <b><u>IMPORTANT:</u></b> You must click through all of the <b>Calendar Instructions</b> below for any of your calendar progress to be saved.
  </div>
  {% endif %}
</div>

      <!-- MAIN CONTENT SECTION-->
      <div class="section">
        {% set instruction = calendar_instructions[calendar_instruction_index] %}
        <article class="message is-info is-expanded">
          <div class="message-header">
            <span>Calendar Instruction: {{instruction['title']}}</span><span style="float: right">[{{calendar_instruction_index+1}}/{{calendar_instructions|length}}]</span>
          </div>
          <div class="block message-body">
            <div class="message-instruction">
              {{instruction['text']}}
            </div>
            <br>
            <div class="block button_container">
              {% if not calendar_enabled %}
              {% if calendar_instruction_index > 0 %}
              <a href="/calendar/instruction/prev">
                <span class="button is-success is-light">
                  Previous Instruction
                </span>
              </a>
              {% endif %}
              {% if calendar_instruction_index+1 < calendar_instructions|length %} 
              <a href="/calendar/instruction/next">
                <span class="button is-success">
                  Next Instruction
                </span>
                </a>
                {% endif %}
              {% else %}
              <div class="level-item is-justify-content-center">
                <div class="tabs is-toggle">
                  <ul>
                    {% for instruction in calendar_instructions %}
                    <li>
                      <a style="text-decoration: none;" href="/calendar/instruction/{{loop.index0}}">
                        {{instruction['title']}}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </article>

          
        <div class="level">
          <!--
          <div class="level-item">
            {% if calendar_enabled %}
            <a href="/calendar/instructions"><span class="button is-link is-light">Detailed Instructions</span></a>
            {% endif %}
            
          </div>
          -->
          {% if completed %}
          <div class="level-item">
            <a href="/completed"><span class="button is-success">Submit Survey</span></a>
          </div>
          {% endif %}
        </div>
        <div class="block">
          <div class="block has-text-centered">
            <label class="label">
              Date Selection
            </label>
            <span>There are 9 tabs, each with a different pair of dates.</span><br>
            <span>Each tab has five lines, each with a different value for tokens allocated to the early
              date.</span><br>
            <span>So, you will make 45 separate choices.</span>
            <!--<span>You must make selections for each of the decision lines before clicking submit. That is 9 tabs with 5 lines each.</span><br>
            <span>You can make your decision in any order, and can go back to revise decisions before submitting.</span><br>
            <span>After submission, one of these lines will be chosen at random for payment.</span>-->
            
          </div>
          <div class="level">
            <!-- MENU SECTION -->
            <div class="level-item is-justify-content-center">
              <div class="tabs is-small is-toggle">
                <ul>
                  {% for period in calendar %}
                  {% set is_active = "is-active" if period["label"]==label else "" %}
                  {% set cal_index = "completed_calendar_{}".format(loop.index0) %}
                  {% set completed = progress[cal_index]!="" and progress[cal_index]==True %}
                  {% set color = "completed" if completed else "" %}
                  <li class="{{is_active}} {{color}}">
                    <a class="is-success" onclick="submit({{loop.index0}})">
                      {{period['label']}}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="columns ">
          <div id="first-calendar" class="column cal">
            <input type="date">
          </div>
          <div id="second-calendar" class="column cal">
            <input type="date">
          </div>
          <div id="third-calendar" class="column cal">
            <input type="date">
          </div>
          <div id="fourth-calendar" class="column cal">
            <input type="date">
          </div>
          <div id="fifth-calendar" class="column cal">
            <input type="date">
          </div>
        </div>
        <!-- INTERACTIVE INTERFACE-->
        {% for start,end in rates %}

        <div class="box">
          <!-- Maybe make the changing rate more obvious -->
          <!-- CARD CONTENT -->
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <input {% if calendar_enabled %}required{% endif %} id="{{loop.index0}}-{{start}}"
                  name="{{index}}-{{loop.index0}}-{{start}}" target="{{loop.index0}}-{{end}}"
                  onchange="convex_handle(this)" onkeyup="convex_handle(this)" class="input inline-number is-small"
                  type="number" step=1 min=0 max=50 placeholder="25" />
              </div>
              <div class="level-item">
                <label class="label">Tokens at $0.{{start}} on {{early_label}}</label>
              </div>
            </div>

            <div class="level-right">
              <div class="level-item">
                <input {% if calendar_enabled %}required{% endif %} id="{{loop.index0}}-{{end}}"
                  name="{{index}}-{{loop.index0}}-{{end}}" target="{{loop.index0}}-{{start}}"
                  onchange="convex_handle(this)" onkeyup="convex_handle(this)" class="input inline-number is-small"
                  type="number" step=1 min=0 max=50 placeholder="25" />
              </div>
              <div class="level-item">
                <label class="label">Tokens at $0.{{end}} on {{late_label}}</label>
              </div>
            </div>
          </div>
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <label class="label">On {{early_label}}</label>

              </div>
              <div class="level-item">
                <p>You will recieve <span id="{{loop.index0}}-{{start}}-result">$0.00</span></p>

              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <label class="label">On {{late_label}}</label>

              </div>
              <div class="level-item">
                <p>You will recieve <span id="{{loop.index0}}-{{end}}-result">$0.00</span></p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="footer">
        <div class="level">
          <div class="level-item">
            <a class="button is-link is-light" onclick="submit({{index-1}})">
              Previous {% if calendar_enabled %}(Save){% endif %}
            </a>
          </div>

          {% if completed %}
          <div class="level-item">
            <a href="/completed"><span class="button is-success">Submit Survey</span></a>
          </div>
          {% endif %}
          <div class="level-item">
            <button class="button is-link is-light">Next {% if calendar_enabled %}(Save){% endif %}</button>
          </div>
        </div>
        <div class="level is-justify-content-center">
          <!-- MENU SECTION -->
          <div class="tabs is-small is-toggle">
            <ul>
              {% for period in calendar %}
              {% set is_active = "is-active" if period["label"]==label else "" %}
              {% set cal_index = "completed_calendar_{}".format(loop.index0) %}
              {% set completed = progress[cal_index]!="" and progress[cal_index]==True %}
              {% set color = "completed" if completed else "" %}
              <li class="{{is_active}} {{color}}">
                <a class="is-success" onclick="submit({{loop.index0}})">
                  {{period['label']}}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
  </form>
  {% if completed %}
  <div class="fab">
    <a class="" href="/completed"><span class="button is-success">Submit Survey</span></a>
  </div>
  {% endif %}
</body>
<footer>
  <script>
    let calendar_instruction_index = {{ calendar_instruction_index }}
    let calendar_enabled = "{{calendar_enabled}}" === "False"
    let early_date = "{{early}} 17:00:00"
    let late_date = "{{late}} 17:00:00"
    let survey_date = "{{survey_date}} 17:00:00"
    let user_tokens = JSON.parse('{{user_tokens | tojson | safe }}');
  </script>
  <script src="/static/js/calendar.js"></script>
</footer>

</html>
