<!DOCTYPE html>
<!-- 
  Author: William Wyatt
  License: GNU3
  Purpose: WebUI to annodate. 
-->
<html>

<head>
  <title>{{title}}</title>
  {% include "header.html" %}
  <link href="/static/css/bulma-calendar.css" rel="stylesheet" />
  <script src="/static/js/bulma-calendar.js"></script>
</head>

<body>
  <div class="content">
    <!-- TITLE SECTION -->
    <section class="hero is-link">
      <div class="hero-body">
        <p class="title">
          💫 Congratulations!
        </p>
        <span class="subtitle">
          ✨ You are done
        </span>
      </div>
    </section>

    <!-- MAIN CONTENT SECTION-->
    <div class="section" style="width: 100%">
      <div class="level style=" width: 100%">
        <div class="level-item">
          <div class"block">
            <div id="waiting-text" class="has-text-centered">Randomly picking a row...</div>
          </div>
        </div>
      </div>
      <div class="section">
        <div id="row" style="display: none;">
          <div class="box">
            <!-- Maybe make the changing rate more obvious -->
            <!-- CARD CONTENT -->
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <span>You allocated <b>{{early_tokens}}</b> tokens at <b>$0.{{early_rate}}</b> each on
                    <b>{{cal['early_label']}}</b></span>
                </div>
              </div>

              <div class="level-right">
                <div class="level-item">
                  <span>You allocated <b>{{late_tokens}}</b> tokens at <b>$0.{{late_rate}}</b> each on
                    <b>{{cal['late_label']}}</b></span>
                </div>
              </div>
            </div>
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <label class="label">On {{cal['early_label']}}</label>
                    You will recieve <b><span id="early-result">$0.00</span> + $5.00 = <span id="early-final-result"></span></b>
                  </p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <p>
                    <label class="label">On {{cal['late_label']}}</label>
                    You will recieve <b><span id="late-result">$0.00</span> + $5.00 = <span id="late-final-result"></span></b>
                  </p>
                </div>
              </div>
            </div>
            <div class="level">
              <div class="level-item">
                <a href="{{session['finish']}}"><button class="button is-link">Finish</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<footer>
  <script>
    let col = {{ col }};
    let row = {{ row }};
    let early_rate = {{ early_rate }}
    let late_rate = {{ late_rate }}
    let early_date = "{{cal['early_label']}}"
    let late_date = "{{cal['late_label']}}"
    let early_tokens = {{ early_tokens }}
    let late_tokens = {{ late_tokens }}
  </script>
  <script src="/static/js/final_pick.js"></script>
  <script>
  </script>
</footer>

</html>
