<!-- Current Dependencies:
    - Bulma: Css boilerplate styling for quick development that looks pretty
    - JQuery: For potential quick-development js
    - Bulma-Toast: For potential communication to users.
    - Google Matrial Icons: For pretty font icons. 
-->
<link rel="stylesheet" type="text/css" href="/static/css/bulma.css" />
<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.jsdelivr.net/npm/bulma-toast@2.4.1/dist/bulma-toast.min.js" integrity="sha256-1aBe6q/4Wh173Ujj/I4uL8w2k5ypeviG1XNs1FfPqKw=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>