<!DOCTYPE html>
<!-- 
  Author: William Wyatt
  License: GNU3
  Purpose: WebUI to annodate. 
-->
<html>
  <head>
    <title>Annotation</title>
    {% include "header.html" %}
  </head>
  <body>
    <div class="content centering-column">
      <section class="hero is-primary">
        <div class="hero-body">
          <p class="title">
            Web Annotation
          </p>
          <p class="subtitle">
            Specialized for the economics of discount rates.
          </p>
        </div>
      </section>
      <p class="centered-cell">Sorry you seem to be using this interface incorrectly.</p>
    </div>

  </body>
</html>
