<!DOCTYPE html>
<!-- 
  Author: William Wyatt
  License: GNU3
  Purpose: WebUI to annodate. 
-->
<html>
  <head>
    <title>{{title}}</title>
    {% include "header.html" %}
  </head>
  <body>
    <form method="POST" action="/survey">
        <input type="text" hidden value="{{index}}" name="index" />
        <input type="text" hidden value="{{start}}" name="start_time" />
        <input type="text" hidden value="{{key}}" name="key" />
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="content">
      <section class="hero is-primary">
        <div class="hero-body">
          <p class="title">
            {{title}}
          </p>
          <div class="subtitle">
            <div class="level">
              <div class="level-left">
                <p>Answer a few questions about yourself.</p>
              </div>
              <div class="level-right">
                <p>{{progress}} complete</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="section">
        {% if error %}
            <div class="notification is-warning">
                <span>{{error}}</span>
            </div>
        {% endif %}
        <div class="field">
          <label class="label question">{{question}}</label>
            {% set name = "question_components/{}.html".format(type) %}
            {% include name %}
        {% if show_detail %}
        <p class="help">{{detail}}</p>
        {% endif %}
      </div>
     </div>
      <div class="section level">
        <div class="level-left"></div>
        <div class="level-right">
            <div class="is-grouped">
                <p class="control">
                    {% if index - 1 >= 0 %}
                    <a href="/survey/{{index-1}}" class="button is-light">
                        Back
                    </a>
                    {% endif %}
                    <button type="submit" class="button is-primary">
                      Next
                    </button>
                </p>
            </div>
        </div>
      </div>
    </div>
    </form>
  </body>
</html>
