<!DOCTYPE html>
<!-- 
  Author: William Wyatt
  License: GNU3
  Purpose: WebUI to annodate. 
-->
<html>

<head>
  <title>Summary</title>
  {% include "header.html" %}
</head>

<body>
  <div class="content centering-column">
    <section class="hero is-primary">
      <div class="hero-body">
        <p class="title">
          Web Annotation Summary Page
        </p>
        <p class="subtitle">
          Used for seeing an overview of the submitted surveys results.
        </p>
      </div>
    </section>

    <div class="section">
      <div>
        <ul>
          <li>Total Visits: {{total_visits}}</li>
          <li>Total Consented Users: {{total_consented}}</li>
          <li>Total Over The Age of 18: {{total_age}}</li>
          <li>Total Completed Survey: {{total_completed_survey}}</li>
          <li>Total Completed Calendars: {{total_completed_calendar}}</li>
          <li>Total Completed Survey & Calendar: {{total_completed_everything}}</li>
          <li>Total Completed Without Error: {{total_completed_without_error}}</li>
        </ul>
      </div>
    </div>
    <div class="section">
      <div id="toc">
        <div class="level block">
          <div class="level-item">
            <a href="#errors"><button class="button is-warning">Go To Error List</button></a>
          </div>
          <div class="level-item">
            <a href="#mapping"><button class="button is-warning">ID to Transaction ID</button></a>
          </div>
          <div class="block"></div>
        </div>

        <ul>
          {% for user in users %}
          <li class="columns">
            <div class="column is-half">
              <a href="#user-{{loop.index0}}">[#{{loop.index0}}] {{user['email']}}</a> ({{user['token']}})
            </div>
            <div class="column is-half">
              {% if user['validation']['error']==true %}
              <span style="color: red;">
                <span>{{user['validation']['message']}}</span><br>
                {% if user['validation']['submessage'] %}<span>{{user['validation']['submessage']}}</span>{%endif%}
              </span>
              {% else %}
              <span>On {{user['payout']['early_label']}} pay {{user['payout']['early_tokens']}} tokens at
                $0.{{user['payout']['early_rate']}} for {{user['payout']['early_payout']}}</span><br>
              <span>On {{user['payout']['late_label']}} pay {{user['payout']['late_tokens']}} tokens at
                $0.{{user['payout']['late_rate']}} for {{user['payout']['late_payout']}}</span>
              {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <div class="columns is-multiline">
          {% for user in users %}
          <div id="user-{{loop.index0}}" class="column is-full ">
            <div class="card">

              <div class="card-header">
                <div class="card-header-title">
                  #{{loop.index0}}: {{user['email']}} Transaction_id({{user['token']}})
                </div>
              </div>
              <div class="card-content">
                <div class="columns is-multiline is-justify-content-space-between">
                  {% for question in survey %}
                  {% if question['key']!='email' %}
                  <div class="column is-narrow has-text-centered">
                    <div class="field penny">
                      <label class="label">{{question['title']}}</label>
                      <span>{{user[question['key']]}}</span>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
                <div class="columns is-multiline is-justify-content-center">
                  {% for early,late,token in user['tokens'] %}
                  <div class="column is-narrow has-text-centered">
                    <b>{{early}}-{{late}}</b>
                    {% if token is not none %}
                    {% for row,datum in token.items() %}
                    <div class="penny">
                      {% for rate,value in datum.items() %}
                      <div>{{value}} 🪙 at $.{{rate}}</div>
                      {% endfor %}
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="penny">
                      <span style="color: red;">MISSING TOKENS!</span>
                    </div>
                    {% endif %}
                  </div>
                  {% endfor %}
                  <div class="column is-narrow has-text-centered">
                    <label class="label">Payout</label>
                    {% if user['payout']['bad'] %}
                    <span>Payout is bad!<br>This person should be removed for quality.</span>
                    {% else %}
                    <span>On {{user['payout']['early_label']}} pay {{user['payout']['early_tokens']}} tokens at
                      $0.{{user['payout']['early_rate']}} for {{user['payout']['early_payout']}}</span><br>
                    <span>On {{user['payout']['late_label']}} pay {{user['payout']['late_tokens']}} tokens at
                      $0.{{user['payout']['late_rate']}} for {{user['payout']['late_payout']}}</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div id="errors" class="section">
        <title class="title">Consolodated Errors:</title>
        <div class="block">
          {% for user in users %}
          <div class="columns">
            {% if user['validation']['error']==true %}
            <div class="column is-half">
              <a href="#user-{{loop.index0}}">[#{{loop.index0}}] {{user['email']}}</a> ({{user['token']}})
            </div>
            <div class="column is-half">
              <span style="color: red;">
                <span>{{user['validation']['message']}}</span><br>
              </span>
            </div>
            {%endif%}
          </div>
          {% endfor %}
        </div>
      </div>
      <div id="mapping" class="section">
        <title class="title"># to transaction_id:</title>
        <div class="block">
          <label class="label">ID,transaction_id</label>
          {% for user in users %}
          <span>
            {{loop.index0}},{{user['token']}}
          </span><br>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="fab">
      <a class="" href="#toc"><span class="button is-link is-light">↑ Table of Contents</span></a>
    </div>
</body>

</html>